*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/server/build/
/server/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/tasklinker-api/build/
/tasklinker-api/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/